body {
    margin: 0;
    background-color: darkred;
    background-repeat: repeat-y;
    background-size: cover;
    background-position: 0% 10%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Head {
    display: table;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    text-align: center;
}

.MainBody {
    display: block;
    position: relative;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    top: 10px;
    width: 80%;
    background-color: rgb(50, 50, 50, 0.9);
    border-radius: 25px;
    text-align: center;
    line-height: 10px;
}

h1 {
    color: white;
    line-height: 50px;
}

h2 {
    color: white;
}

h4 {
    color: white;
}

h6 {
    line-height: 1px;
    margin-top: -10px;
    margin-bottom: 35px;
}

.note {
    line-height: 1px;
    margin-top: -10px;
    margin-bottom: 35px;
    color: white;
}

footer {
    background-color: rgb(50, 50, 50, 0.9);
    position: relative;
    margin: auto;
    padding: 10px;
    top: 30px;
    width: max-content;
    border-radius: 25px;
    text-align: center;
}

iframe {
    border-radius: 25px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: pink;
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }